:root {
    --branco-destaque: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
}

body {
    background-color: var(--cor-de-fundo);
}

.principal {
    background-image: url("../img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.principal-titulo {
    color: var(--branco-destaque);
    font-size: 1.75rem;
    font-weight: bold;
}

.box {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.box__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-destaque);
    display: grid;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-destaque);
}