:root {
    --branco-destaque: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --botao-azul-efeito: #1366cc;
    --texto-efeito: #c4c2c2;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: 'Inter', sans-serif;
}

.principal {
    background-image: url("../img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.principal-titulo {
    color: var(--branco-destaque);
    font-size: 1.75rem;
    font-weight: bold;
}

.box {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.box__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-destaque);
    display: grid;
    margin-bottom: 1em;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-destaque);
}

.box__imagem {
    margin: 1em 0 2em 0;
}

.box__aviso {
    color: var(--cinza-secundario);
}

.box__caixa {
    margin: 0 6em;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.secundario__imagem {
    width: 80%;
}

.descricao__titulo {
    color: var(--branco-destaque);
    font-weight: 700;
    font-size: 3em;
    margin-bottom: 0.3em;
}

.descricao__texto {
    color: var(--cinza-secundario);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.box__descricao {
    padding: 2em;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    color: var(--branco-destaque);
    font-weight: 700;
    font-size: 3em;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    margin: 5em 0;
}

.lista__item {
    color: var(--branco-destaque);
    font-weight: 700;
    font-size: 2em;
}

.rodape {
    text-align: center;
    margin: 5em 3em;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.lista__link {
    color: var(--branco-destaque);
    margin-left: 1em;
}

.rodape__texto {
    color: var(--cinza-secundario);
    font-size: 14px;
    margin: 2em 0;
}

.lista__link a:hover {
    color: var(--cinza-secundario);
}

.lista__link a:active {
    font-size: 15px;
}

.box__botao-efeito:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--texto-efeito);
}

.botao_secundario:hover {
    border: 2px solid var(--cinza-secundario);
    color: var(--cinza-secundario);
}

.box__botao:active {
    font-size: 15px;
}